/*  Read about this page here: https://developer.chrome.com/extensions/content_scripts.html */
.tvshow-app-chrome-extension__body {
    /*width: 175px; */
    height: 100%;
}
.fc-event {
  cursor: pointer;
}
ul li {
  list-style: none;
}
ul#tvshow-app-chrome-extension__list li {
    margin-bottom: 20px;
}
